@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
ul {
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto;
}
li {
    margin: 6px;
    list-style: none;
    font-size: 22px;
}
body {
    padding: 0;
    margin : 0 ;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto' , sans-serif;
}
button , input[type="submit"] , input[type="button"] {
    border: 1px solid #235597;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px;
    background: #327ad8;
    color: #fff;
    font-family: 'Roboto' , sans-serif;
    font-size: 16px;
}
button:disabled , input[type="submit"]:disabled , input[type="button"]:disabled {
    border: 1px solid #494949;
    background: #7c7c7c;
    color: #fff;
}
.active {
    color: red;
}
.popup {
    border: solid 1px #ccc;
    background: #fff;
    position: fixed;
    top : 50% ; 
    left : 50% ;
    transform: translate(-50% , -50%);
    display: flex;
}
.row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    align-items: center;
    text-align: center;
}