@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;700;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css");
:root {
  --primary: #326cd8;
  --secondary: #204486;
}
* {
  font-family: "Vazirmatn", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
  padding: 0;
}
li {
  margin: 10px;
  list-style: none;
  font-size: 16px;
  transition: all ease 1s;
}
button,
input[type="submit"],
input[type="button"] {
  border: 1px solid #47474760;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 10px;
  background: var(--primary);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
button:disabled,
input[type="submit"]:disabled,
input[type="button"]:disabled {
  border: 1px solid #494949;
  background: #7c7c7c;
  color: #fff;
}
.nav {
  display: flex;
  justify-content: center;
  background-color: #252525;
  padding: 10px 0;
}
.nav button {
  font-size: 16px;
  margin: 2px;
  background-color: transparent;
  color: #e0e0e0;
  border: 0 none;
  transition: all 0.5s ease;
}
.nav button:hover {
  color: var(--primary);
  transition: all 0.5s ease;
}
.header {
  background: var(--primary);
  background: linear-gradient(0deg, var(--primary), var(--secondary));
  display: flex;
  flex-direction: column;
  min-height: 350px;
  padding: 20px;
}
.apptitle {
  display: flex;
  gap: 20px;
  align-items: center;
}
.apptitle * {
  color: #fff;
}
.apptitle h1 {
  font-size: 18px;
  font-weight: normal;
}
.logo a {
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: baseline;
}
.locations {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  font-size: 10px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  margin-top: 25px;
}
.locations .alt {
  flex: 5%;
}
.locations .line {
  flex: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.locations .line .dot {
  position: relative;
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--primary);
  border-radius: 50%;
}
.locations .line .gray {
  background-color: #777;
}
.locations .line .dashed {
  content: "";
  height: 75px;
  width: 0;
  border: 1px dashed #ccc;
}
.locations .line .dot::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 50%;
}
.locations .alt {
  text-align: center;
}
.locations .alt * {
  font-size: 12px;
  color: #888;
  background-color: #eee;
  border-radius: 10px;
  margin: 0;
}
.locations .select {
  flex: 90%;
  display: flex;
  flex-direction: column;
  color: #777;
}
.locations .select select {
  min-height: 40px;
  border: 1px solid #ccc;
}
.locations .select hr {
  color: #777;
  margin: 20px 0;
}
.container {
  text-align: center;
  border-radius: 30px;
  background-color: #fff;
  padding: 10px;
  transform: translate(0, -30px);
  padding: 30px;
}
.container h2 {
  font-size: 18px;
  text-align: center;
  color: #777;
}
.timesContainer {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  height: 300px;
  overflow-y: scroll;
  margin-top: 20px;
}

.timesContainer::-webkit-scrollbar {
  width: 10px;
}

.timesContainer::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.timesContainer::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 0px;
}
.timebox {
  border: 1px solid #00000033;
  background-color: #aaa;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-weight: 900;
  color: #fff;
  letter-spacing: 3px;
}
.timebox * {
  font-size: 16px;
}
.active {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  animation: glow 1s ease 2s infinite alternate;
}
.row label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 5px 10px;
}
.row label span {
  text-align: left;
  padding: 5px;
}

.settingsbtn {
  margin-left: auto;
}
.settingsbtn a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
  gap: 2px;
  cursor: pointer;
}
.settingsHead {
  height: 100%;
  position: relative;
  color: #fff;
  text-align: center;
  letter-spacing: 6px;
  margin-top: 30px;
}
.settingsHead h1 {
  text-transform: uppercase;
  font-size: 60px;
  opacity: 0.1;
}
.settings h1 {
  font-size: 32px;
  color: var(--primary);
  text-transform: uppercase;
  border-bottom: 1px solid var(--primary);
  margin-bottom: 30px;
  font-weight: bolder;
}
.repos {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 10px auto;
  gap: 10px;
}
.repo {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #ddd;
  border: 1px solid #888;
  box-shadow: 1px 1px #ccc;
  padding: 5px;
  border-radius: 5px;
}
.repo button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
}
.repo label {
  flex: 5%;
}
.repo input[type="text"] {
  background-color: #ffffff7c;
  border: 1px solid #ccc;
  height: 35px;
  padding: 3px 10px;
  flex: 40%;
  font-family: monospace;
}
button.red {
  background-color: #d12f38;
}
button.red:disabled {
  opacity: 0.5;
}
@keyframes glow {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
