@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');
:root {
    --primary : #326cd8 ;
}
ul {
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
}
h1 , h2 , h3 , p {
    margin: 10px;
}
li {
    margin: 10px;
    list-style: none;
    font-size: 16px;
    transition: all ease 1s;
}
li span {
    color: #fff;
    background-color: #a1a1a1;
    border-radius: 10px;
    padding: 8px;
}
body {
    padding: 0;
    margin : 0 ;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto' , sans-serif;
}
button , input[type="submit"] , input[type="button"] {
    border: 1px solid #47474760;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px;
    background: var(--primary);
    color: #fff;
    font-family: 'Roboto' , sans-serif;
    font-size: 16px;
}
button:disabled , input[type="submit"]:disabled , input[type="button"]:disabled {
    border: 1px solid #494949;
    background: #7c7c7c;
    color: #fff;
}
.active span {
    background-color: var(--primary);
    animation: glow 2s infinite alternate ease-in-out;
    outline: 2px solid var(--primary);
    outline-offset: 1px;
}
.header {
    margin-top: 20px;
}
.header h1 {
    color: var(--primary);
    font-weight: bolder;
    font-size: 38px;
}
.header p {
    color: #777;
    font-size: 24px;
}
.footer p {
    color : #777 ;
}
.footer p a {
    color: var(--primary);
    text-decoration: none;
}
.popup {
    border: solid 1px #ccc;
    background: #fff;
    position: fixed;
    top : 50% ; 
    left : 50% ;
    transform: translate(-50% , -50%);
    display: flex;
    box-shadow: 0 0 18px #333 ;
}
.popup h4 {
    font-size: 18px;
    font-weight: bold;
}
.row label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 5px 10px;
}
.row label span {
    text-align: left;
    padding: 5px;
}
.container {
    margin: auto;
    margin-top: 10px;
    max-width: 550px;
    background-color: #ebebeb;
    padding: 10px;
}
.container h2 {
    font-weight: bolder;
    font-size: 32px;
    color: var(--primary);
}
.countdownbox p {
    color: #444;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 0 transparent;
      }
      100% {
        box-shadow:0 0 10px var(--primary);
      }
}